# Supabase sementara untuk development Digital Falak.
# Jangan pernah masukkan service_role/secret key ke NEXT_PUBLIC_*.
NEXT_PUBLIC_SUPABASE_URL=https://souakvmuoygvsugxmpwd.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_--u2P-Gm5qaogeuV1KD05g_X3q1-eMA
